*{
  margin: 0;
  padding: 0;
}
.container{
  margin: 0 auto;
  h2{
     margin-top: 10px;
  }
}
form{
  margin: 20px 10px ;
}
.btu-save-cancel{
  display: flex;
  align-items: center;
}


/* order Style */
 .card-body{
  width: 90%;
 }