*{
  margin: 0;
  padding: 0;
}
.container{
  margin: 0 auto;
  h2{
     margin-top: 10px;
  }
}
form{
  margin: 20px 10px ;
}
.btu-save-cancel{
  display: flex;
  align-items: center;
}
.cart-label {
  font-weight: bold;
}
.cart-price {
  font-weight: bold;
  color: #333;
}
.btn-sm {
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
}
.btn:hover .dropdown-toggle::after,
.dropdown-toggle:hover::after {
    border-top-color: white !important; /* Your theme color */
    /* OR specific color: */
    /* border-top-color: #ff0000 !important; */
}
#cart-table-body tr td:nth-child(3) {
  color: #006222; /* Black text */
}
.pagination {
  margin: 20px 0;
  flex-wrap: wrap;
}

.page-item {
  margin: 2px;
}

.page-item.active .page-link {
  background-color: #007bff;
  border-color: #007bff;
  color: white;
}

.page-link {
  color: #007bff;
  min-width: 40px;
  text-align: center;
  border-radius: 4px !important;
}

.page-item.disabled .page-link {
  color: #6c757d;
  background-color: transparent;
  border-color: #dee2e6;
}

.page-link:hover {
  z-index: 2;
  color: #0056b3;
  background-color: #e9ecef;
  border-color: #dee2e6;
}