#app {
    display: flex;
    flex-direction: column; /* Stack items vertically */
}
body {
  padding-top: 60px; /* Adjust according to the navbar height */
}
#sidebar {
    width: 100%;
    background: #f8f8f8;
    margin-top: 20px;
    z-index: 1000;
}
/* .shop{
 margin-right: 20px;
} */
.profile{
  margin-right: 20%;
  margin-bottom: 3px;
}
.navbar {
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    transition: top 0.3s;
}
.navbar a i {
    transition: color 0.3s ease-in-out;
  }
  .navbar a i:hover {
    color:  #4A2C2A;
  }
  .badge-notification {
    font-size: 0.75rem;
    font-weight: bold;
  }
.avatar-img {
    width: 50px;
    height: 50px;
}
.drop{
  color: rgba(53, 53, 53, 0.778);
  margin-right: 10px;
  text-decoration: none;
}
.profile .dropstart .dropdown-menu{
  margin-top: 45px;
  min-width: 125px
}
.navbar-brand{
  width: 100px; 
  height: auto;
}

@media (max-width: 991.98px) {
  .navbar{
    height: 80px;
  }
  .profile{
    margin-right: 10%;
    margin-bottom: 12px;
  }
  .navbar-brand{
    width: 80px; 
  }
}
